<label>title</label>
 <p><%=@book.title %></p>
  <label>body</label>
  <p><%=@book.body %></p> 
 <%= link_to "edit", edit_book_path(@book.id) %> 
<%= link_to "Back", books_path%>
<p id="notice">
 <%= notice %>
</p>
